# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual env
# =========================
.venv/
venv/
env/
airflow_env/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Local data (monté en volume)
# =========================
data/
*.csv
*.parquet

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build artifacts
# =========================
dist/
build/
