# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.env
.venv/
venv/
env/
ENV/
.airflow_env/
airflow_env/
.env.*


# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Data (RAW / PROCESSED)
# =========================
data/
*.csv
*.parquet

# =========================
# Spark
# =========================
spark-warehouse/
metastore_db/
derby.log

# =========================
# Airflow
# =========================
airflow/logs/
airflow/dags/__pycache__/
airflow/plugins/__pycache__/
airflow/airflow.db

# =========================
# Docker
# =========================
*.pid
*.lock

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# Tests / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build
# =========================
dist/
build/
